<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}" />
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}    
    {% for message in messages %}
      <center><mark>{{ message }}</mark></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <nav class="navbar">
    <div class="nav-left">
      <div class="dropdown">
        <button class="dropbtn">Notes</button>
        <div class="dropdown-content">
          <a href="{{url_for('addnotes')}}">Add Notes</a>
          <a href="{{url_for('viewallnotes')}}">View All Notes</a>
          <a href="{{url_for('getexceldata')}}">Excel Data</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Files</button>
        <div class="dropdown-content">
          <a href="{{url_for('fileupload')}}">File Upload</a>
          <a href="{{url_for('viewallfiles')}}">View All Files</a>
        </div>
      </div>
    </div>
    <mark>{{session.get('user')}}</mark>
    <div class="nav-right">
      <form action="{{url_for('search')}}" method="post">
        <input type="text" name="searchdata" placeholder="Search..." class="search-input" />
      <button class="search-btn">Search</button>
      </form>
      <a href="{{url_for('logout')}}">
        <button class="logout-btn">Logout</button>
      </a>
    </div>
  </nav>
  {% block content %}{% endblock %}
  {% if matcheddata %}
  <center>
        <table>
            <thead>
                <tr>
                    <th>Notes_ID</th>
            <th>Title</th>
            <th>Created_at</th>
            <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for i in matcheddata %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[3]}}</td>
                    <td><a href="{{url_for('viewnotes',nid=i[0])}}">View</a>
                    <a href="{{url_for('updatenotes',nid=i[0])}}">Update</a>
                    <a href="{{url_for('deletenotes',nid=i[0])}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
    {% endif %}
</body>
</html>
