<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email confirmation</title>
    <style>
        form{
            border: 1px solid black;
            margin-left: 30%;
            margin-right: 30%;
            background-color: antiquewhite;
            padding: 20px;
        }
    </style>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}    
    {% for message in messages %}
      <center><mark>{{ message }}</mark></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <center>
        <form  method="post">
        <label for="">Enter Your Email: </label><br>
        <input type="email" name="useremail" id=""><br><br>
        <button>Submit</button>
    </form>
    
    </center>
</body>
</html>